header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--background);
    border-bottom: 2px solid var(--border);
    padding: 8px 20px;
    height: 80px;
    width: 100vw;
}

.header-menu, 
header input {
    display: none;
    width: 32px;
    cursor: pointer;
    transition: 200ms;
}

.header-menu:hover {
    scale: 1.2;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 100vw;
}

header h1 {
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 200ms;
}

header h1:hover {
    scale: 1.1;
}

header h1 span {
    color: var(--primary-color);
}

header ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.header-list a {
    color: var(--text-color-muted);
    text-decoration: none;
    transition: 200ms;
}

.header-list a:hover{
    color: var(--text-color);
}

.header-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 32px;
    transition: 200ms;
}

.header-button:hover {
    background-color: var(--primary-color-darker);
    transform: translateY(-5px);
}

#header-button-inside {
    display: none;
}